.button {
  font-family: $oswald;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  padding: 7px 44px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  &--secondary {
    background-color: $basic-grey;
    color: $darkgrey;
  }
}
