.button {
  font-family: $oswald;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  padding: 7px 44px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $hovergreen;
  }

  &:active {
    background-color: $hovergreen;
    color: $white-opacity;
    filter: drop-shadow(0 4px 0 $black-opacity);
  }

  &--secondary {
    background-color: $basic-grey;
    color: $darkgrey;
  }
}
