.button {
  font-family: $oswald;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  padding: 7px 44px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $hovergreen;
  }

  &:active {
    background-color: $hovergreen;
    color: $white-opacity;
  }

  &--secondary {
    background-color: $basic-grey;
    color: $darkgrey;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 45px;
  }
}
