.catalog-section {
  padding-top: 27px;
  margin-bottom: 25px;

  &--last {
    margin-bottom: 41px;
  }
}

.catalog-section__headline {
  margin: 0;
  margin-bottom: 58px;
}

.catalog-section__product {
  margin-bottom: 28px;

  &--last {
    margin-bottom: 34px;
  }
}

.catalog-section__title {
  margin: 0;
  margin-bottom: 36px;
}
