.catalog {
  padding: 27px 0 25px 0;
}

.catalog__headline {
  margin: 0;
  margin-bottom: 46px;
}

.catalog__product {
  padding: 12px 0 16px 0;

  &--last {
    padding-top: 34px;
    padding-bottom: 0;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 36px;
}
