.container {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $mobile-pads;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 $tablet-pads;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 $desktop-pads;
  }
}
