.contacts {
  padding-top: 29px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 83px 0 102px 0;
    background-color: transparent;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2px;
  padding-bottom: 24px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    column-gap: 281px;
    padding-right: 36px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    min-height: 201px;
    background-color: $white;
    padding: 66px 89px 51px 76px;
    column-gap: 70px;
  }
}

.contacts__headline {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $soft-black;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
    margin-left: 41px;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 15px;
  }
}

.contacts__adress-wrapper {
  @media (min-width: $tablet-width) {
    text-align: right;
    margin-right: 7px;
  }
}

.contacts__adress {
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &:first-child {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__map {
  width: 100%;
  display: block;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    z-index: -1;
    min-height: 100%;
  }
}
