.contacts {
    width: $mobile-width;
}

.contacts__headline {
    font-family: $oswald;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: $soft-black;
    text-transform: uppercase;
    padding: 28px 0;
    margin: 0;
}

.contacts__adress {
    line-height: 20px;
    margin: 0;
}


