.contacts {
  padding-top: 29px;
  background-color: $basic-grey;

  &--index {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    background-color: $white;

    &--form {
      background-color: $basic-grey;
    }

    &--catalog {
      background-color: $basic-grey;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 92px 0 102px 0;
    background-color: transparent;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding: 0 36px 58px 41px;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    min-height: 204px;
    background-color: $white;
    padding: 56px 78px 21px 76px;
  }
}

.contacts__headline {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $soft-black;
  text-transform: uppercase;
  margin: 0;
  padding-right: 13px;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
    max-width: 195px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 11px;
    line-height: 25px;
    max-width: unset;
    margin-right: 29px;

    &--catalog {
      padding-top: 15px;
      margin-right: -2px;
      max-width: 200px;
    }
  }
}

.contacts__adress-wrapper {
  &--form {
    min-width: 140px;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
    padding-right: 7px;
    max-width: 162px;
  }

  @media (min-width: $desktop-width) {
    max-width: unset;
  }
}

.contacts__adress {
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &:first-child {
      margin-bottom: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;

    &:first-child {
      margin-top: 9px;
      margin-bottom: 19px;
    }

    &--catalog:first-child {
      margin-top: 13px;
      margin-left: 52px;
    }

    &--catalog:last-child {
      margin-left: 52px;
    }
  }
}

.contacts__map {
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    z-index: -1;
    min-height: 100%;
  }
}
