.container {
  width: $mobile-width - $mobile-pads * 2;
  margin: 0 auto;
  overflow: hidden;

  &--catalog {
    width: $mobile-width;
    padding: 0 $mobile-pads;
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width - $tablet-pads * 2;
    overflow: visible;

    &--catalog {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width - $desktop-pads * 2;
    padding: 0 90px;

    &--form {
      padding: 0 90px;
    }

    &--catalog {
      padding: 0 90px;
    }

    &--unset {
      width: auto;
      padding: 0;
    }

    &--fullheight {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
