.copyright {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.copyright__link {
  color: $darkgrey;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 30%;
  }
}

.copyright__icon {
  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }
}

.copyright__icon path {
  fill: $grey-copyright;

  &:hover,
  &:focus {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 30%;
  }
}
