.example {
  background-color: $grey;
  padding: 27px 0 36px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 42px 0 64px 0;
    background-color: $white;
    z-index: 0;
    overflow-x: hidden;

    &::before {
      @include pseudo;
      background-color: $grey;
      width: 100vw;
      min-height: 459px;
      bottom: 0;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 0;
    background: $basic-grey;
    justify-content: center;

    &::before {
      background-color: $white;
      min-height: 250px;
      top: 0;
      bottom: auto;
    }
  }
}

.example__text-wrapper {
  @media (min-width: $tablet-width) {
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.example__total-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__headline {
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    max-width: 431px;
    margin: 0;
    margin-bottom: 134px;
    position: relative;
    z-index: 1;
    flex: 1;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-right: 31px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    max-width: 431px;
    margin-right: 0;
    margin-bottom: 80px;
  }
}

.example__stats-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    max-width: 366px;
  }
}

.example__stats {
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__total-price {
  margin-bottom: 42px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: right;
    margin-bottom: 24px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

.example__slider {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 708px;
    min-height: 527px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 690px;
    min-height: 552px;
  }
}

.example__slider-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    position: relative;
  }
}
