.form-section {
  border: none;

  &--programm {
    position: relative;
  }

  &--programm::before {
    @include pseudo;
    width: 100vw;
    height: 1px;
    bottom: -17px;
    left: -$mobile-pads;
    background-color: $border-grey;
  }

  &--programm::after {
    @include pseudo;
    @include pseudo-decorative(100vw, 1px, -27px, -$mobile-pads);
    background-color: $border-grey;
  }

  @media (min-width: $tablet-width) {
    &--programm {
      border: 1px solid $form-border-grey;
      padding: 25px 0 25px 29px;
    }

    &--programm::before,
    &--programm::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--programm {
      padding: 25px 28px;
    }
  }
}

.form-section__input:active + .form-section__icon,
.form-section__input:focus + .form-section__icon {
  stroke: $green;
}

.form-section__input:active:invalid + .form-section__icon,
.form-section__input:focus:invalid + .form-section__icon {
  stroke: $red;
}

.form-section__input:disabled + .form-section__label,
.form-section__label.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.form-section__input:focus + .form-section__label::before {
  border-color: $darkgrey;
  box-shadow: inset 0 0 0 1px $darkgrey;
}

.form-section__input--radio:checked + .form-section__label--radio::before {
  background-image: radial-gradient($green 0, $green 6px, $white 7px, $white 100%);

  @media (min-width: $tablet-width) {
    background-image: radial-gradient($green 0, $green 9px, $white 10px, $white 100%);
  }
}

.form-section__label--checkbox:active::before,
.form-section__input--checkbox:checked + .form-section__label--checkbox::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 21px;
}

.form-section__input--checkbox:checked + .form-section__label--checkbox:active::before {
  background-image: none;
}

.form-section__list {
  @include reset-list();
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-height: 118px;

    &--programm {
      flex-direction: column;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 87px;
  }
}

.form-section__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;

    &--short-indent {
      margin-bottom: 57px;
    }

    &--contacts {
      margin-bottom: 72px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;

    &--contacts {
      margin-bottom: 75px;
    }

    &--comment {
      margin-bottom: 72px;
    }
  }
}

.form-section__item {
  display: flex;

  @media (min-width: $tablet-width) {
    &--checkbox {
      flex-basis: 50%;
    }

    &--checkbox:first-child {
      margin-top: -7px;
    }

    &--checkbox:nth-child(2) {
      margin-top: -7px;
    }

    &--checkbox:nth-child(2n) {
      padding-left: 27px;
    }
  }

  @media (min-width: $desktop-width) {
    &--checkbox {
      flex-basis: 25%;
    }

    &--checkbox:first-child {
      margin-top: 0;
    }

    &--checkbox:nth-child(2n) {
      padding-left: 0;
    }

    &--checkbox:nth-child(2) {
      padding-left: 21px;
      margin-top: 0;
    }

    &--checkbox:nth-child(3) {
      padding-left: 39px;
    }

    &--checkbox:nth-child(4) {
      padding-left: 59px;
    }
  }
}

.form-section__wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 14px;

  @media (min-width: $tablet-width) {
    row-gap: 20px;

    &--contacts {
      row-gap: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 78px;

    &--contacts {
      grid-template-rows: unset;
    }
  }
}

.form-section__row {
  display: flex;
  align-items: center;
  column-gap: 13px;

  &--contacts {
    position: relative;
  }
}
