.form-section {
  border: none;
}

.form-section__list {
  @include reset-list();
}

.form-section__title {
  margin-bottom: 35px;
}

.form-section__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}
