.form__section {
  margin: 0;
  padding: 0;
  margin-bottom: 52px;

  &--short-indent {
    margin-bottom: 23px;
  }

  &--last {
    margin-bottom: 34px;
  }
}

.form__headline {
  margin: 0;
  margin-bottom: 37px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__description {
  margin: 0;
  margin-bottom: 39px;
  font-family: $oswald;
  text-transform: uppercase;
}

.form__row {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 21px;
}

.form__footnote {
  margin: 0;
  text-align: center;
}
