.form-input {
  border: 1px solid $form-border-grey;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $darkgrey;
  text-transform: uppercase;
  padding: 13px 5px 13px 15px;
  box-sizing: border-box;

  &--textarea {
    padding-top: 9px;
    margin: 0;
    width: 100%;
    min-height: 150px;
    resize: none;
  }
}
