.form-input {
  border: 1px solid $form-border-grey;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $darkgrey;
  text-transform: uppercase;
  padding: 13px 5px 13px 15px;
  box-sizing: border-box;
  width: 100%;

  &--contacts {
    padding-right: 48px;
  }

  &:hover {
    border-color: $green;
  }

  &:active,
  &:focus {
    border-color: $darkgrey;
    box-shadow: inset 0 0 0 1px $darkgrey;
  }

  &:active:invalid,
  &:focus:invalid {
    border-color: $red;
    box-shadow: inset 0 0 0 1px $red;
  }

  &--radio {
    width: auto;
  }

  &--checkbox {
    width: auto;
  }

  &--textarea {
    padding: 9px 10px 10px 15px;
    margin: 0;
    width: 100%;
    min-height: 150px;
    resize: none;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &--textarea {
      min-height: 174px;
      text-align: left;
      padding: 9px 10px 10px 19px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 10px 10px 10px 20px;
  }
}
