.form-icon {
  position: absolute;
  top: calc(50% - 7px);
  right: 15px;
  stroke: $soft-black;

  &--phone {
    top: calc(50% - 10px);
    right: 13px;
  }

  .form-input:active + &,
  .form-input:focus + & {
    stroke: $green;
  }

  .form-input:active:invalid + &,
  .form-input:focus:invalid + &,
  .invalid + & {
    stroke: $red;
  }
}
