.form__section {
  margin: 0;
  padding: 0;
  margin-bottom: 52px;

  &--vertical-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
  }

  &--short-indent {
    margin-bottom: 23px;
  }

  &--last {
    margin-bottom: 34px;
  }

  &--programm {
    margin-bottom: 43px;
  }

  &--contacts {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;

    &--vertical-grid {
      row-gap: 13px;
    }

    &--short-indent {
      margin-bottom: 57px;
    }

    &--programm {
      margin-bottom: 74px;
    }

    &--contacts {
      margin-bottom: 63px;
    }

    &--last {
      margin-bottom: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;

    &--vertical-grid {
      row-gap: 21px;
    }

    &--short-indent {
      margin-bottom: 61px;
    }

    &--last {
      margin-bottom: 39px;
    }
  }
}

.form__inner-wrapper {
  @media (min-width: $tablet-width) {
    padding-right: 36px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__outer-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.form__headline {
  margin: 0;
  margin-bottom: 37px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.form__description {
  margin: 0;
  margin-bottom: 37px;
  font-family: $oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.form__footer-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    column-gap: 25px;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    max-width: fit-content;
    margin-bottom: 0;
    padding: 15px 64px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 568px;
  }
}

.form__footnote {
  margin: 0;
  text-align: center;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: left;
    padding-top: 15px;
    padding-left: 28px;
  }
}
