.gift {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
    padding-bottom: 0;
    grid-column: 4/5;
  }
}
