.good-link {
  text-decoration: none;
}

.good-link__name {
  margin: 0;
  margin-bottom: 13px;
  max-width: 99px;

  &--more {
    margin-bottom: 8px;
    max-width: 104px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 158px;
    text-align: center;
    margin-bottom: 21px;

    &--more {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width)  {
    line-height: 23px;

    &--more {
      margin: 11px 0;
    }
  }
}
