.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__icon {
  &:hover,
  &:focus {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
  }
}

.logo__text {
  margin-right: 8px;
}
