.logo-text {
  display: flex;
  justify-content: center;

  &:hover,
  &:focus {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    &--header {
      display: none;
    }

    &--footer {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
