.main-nav__list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
  }
}

.main-nav__item {
  padding: 22px 10px 24px 10px;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__link {
  font-family: $oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $white;
    position: relative;
    z-index: 1;
  }
}
