.main-nav {
  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.main-nav__list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 35px;
  }
}

.main-nav__item {
  padding: 21px 10px 23px 10px;
  box-sizing: border-box;
  text-align: center;
  position: relative;

  &::before {
    @include pseudo;
    width: 100%;
    height: 1px;
    background-color: $soft-border-grey;
    top: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::before {
      display: none;
    }

    &--current::after {
      @include pseudo;
      width: auto;
      height: 2px;
      background-color: $green;
      top: 30px;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--current::after {
      background-color: $white;
      top: 37px;
    }
  }
}

.main-nav__link {
  font-family: $oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  &--current:hover,
  &--current:focus,
  &--current:active {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    position: relative;
    z-index: 1;

    &--light {
      color: $white;
    }
  }
}
