.nav-toggle {
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  padding: 15px 15px;
  cursor: pointer;

  &--hamburder {
    &::after {
      @include pseudo;
      box-shadow: 0 2px $black, 0 7px $black, 0 13px $black;
      width: 24px;
      height: 2px;
      bottom: 20px;
      right: 0;
    }
  }

  &--close {
    &::after {
      @include pseudo;
      width: 20px;
      height: 20px;
      bottom: 7px;
      right: 0;
      background-image: url("../img/close-icon.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &--nojs {
      &--close {
        &::after {
          display: none;
        }
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
