.plus-icon {
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 40%;
  }

  @media (min-width: $desktop-width) {
    left: 30%;
  }
}
