.plus-icon {
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% + 30px);
    left: 50%;
  }
}
