.product__pic-link {
  display: block;
  padding: 11px 36px 12px 36px;
  max-width: 140px;
  min-height: 112px;
  box-sizing: border-box;
}

.product__description {
  margin-bottom: 22px;

  &--more {
    margin-bottom: 15px;
  }
}

.product__button {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.product__plus-icon {
  margin-bottom: 23px;
}
