.profits__headline {
  margin-bottom: 38px;
}

.profits__list {
  @include reset-list();
  padding-left: 80px;
  padding-bottom: 42px;
}

//паддинги задала именно списку, потому что у родителя есть еще заголовок, которому отступ не нужен

.profits__item {
  padding-bottom: 20px;
}

.profits__item:last-of-type {
  padding-bottom: 0;
}
