.profits {
  padding: 32px 0 26px 0;

  @media (min-width: $tablet-width) {
    padding: 48px 0 102px 0;
    border-bottom: 1px solid $soft-border-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 0 11px 0;
    border-bottom: none;
  }
}

.profits__headline {
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.profits__list {
  @include reset-list();
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 134px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 79px;
    row-gap: unset;
  }
}

.profits__item {
  margin-bottom: 27px;
  position: relative;

  &::after {
    @include pseudo;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::before {
    @include pseudo;
    @include pseudo-decorative(60px, 60px, -2px, -80px);
    background-color: $green;
  }

  &--leaf::after {
    background-image: url("../img/icon-leaf.svg");

    @include pseudo-decorative(30px, 32px, 12px, -60px);
  }

  &--tub::after {
    background-image: url("../img/icon-tub.svg");

    @include pseudo-decorative(29px, 31px, 12px, -65px);
  }

  &--eat::after {
    background-image: url("../img/icon-eat.svg");

    @include pseudo-decorative(25px, 30px, 12px, -65px);
  }

  &--alarm::after {
    background-image: url("../img/icon-alarm.svg");

    @include pseudo-decorative(32px, 33px, 12px, -65px);
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 111px;
    max-width: 245px;

    &::before {
      @include pseudo-decorative(80px, 80px, -1px, 0);
    }

    &--leaf::after {
      @include coordinates(27px, 27px);
    }

    &--tub::after {
      @include coordinates(24px, 25px);
    }

    &--eat::after {
      @include coordinates(23px, 28px);
    }

    &--alarm::after {
      @include coordinates(21px, 24px);
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;
  }
}

.profits__text {
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      display: block;
      content: attr(data-number);
      font-family: $oswald;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      bottom: -58px;
      right: 0;
      z-index: -1;
    }

    &--first::before {
      right: 14px;
    }
  }
}
