.promo-item {
  background-color: $basic-grey;
}

.promo-item__headline {
  margin: 0 0 29px 91px;
  font-family: $oswald;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
  font-weight: 400;
}

.promo-item__link {
  margin: 0;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
}

.promo-item__text {
  margin: 0;
  margin-bottom: 23px;
  border-bottom: 1px solid $promo-border-grey;
}
