.promo__header {
  min-height: 502px;
  position: relative;
}

.promo__header::before {
  position: absolute;
  content: "";
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 302px;
  background-image: url("../img/index-background-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo__header::after {
  position: absolute;
  content: "";
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 302px;
  background: $green-opacity;
}


.promo__headline {
  margin: 27px 15px 25px 16px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.promo__slogan {
  margin: 0 42px 29px 40px;
  font-family: $oswald;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
  position: relative;
  z-index: 1;
}

.promo__pic {
  position: relative;
  z-index: 2;
}

.promo__button {
  width: 100%;
  display: inline-block;
  text-align: center;
}
