.promo {
  @media (min-width: $tablet-width) {
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 32px;
  }
}

.promo__wrapper {
  min-height: 473px;
  position: relative;
  overflow: hidden;
  padding-top: 26px;

  &::before {
    @include pseudo;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 303px;
    background-image: url("../img/index-background-mobile.png"), linear-gradient(to top, $darkgreen, $darkgreen);
    background-position: 50% 0, 0 0;
    background-repeat: no-repeat;

    @media (min-resolution: $retina) {
      background-image: url("../img/index-background@2x.png"), linear-gradient(to top, $darkgreen, $darkgreen);
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 809px;
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 538px;
  }
}

.promo__text-container {
  @media (min-width: $desktop-width) {
    padding-top: 72px;
  }
}

.promo__inner-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 87px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    padding-left: 100px;
  }
}

.promo__headline {
  margin: 0;
  margin-bottom: 22px;
  text-align: center;
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  font-weight: 400;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    min-width: 414px;
  }
}

.promo__slogan {
  margin: 0 42px 29px 40px;
  font-family: $oswald;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    margin: 0;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__img-container {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    left: 27px;
    bottom: -5px;
  }

  @media (min-width: $desktop-width) {
    left: auto;
    bottom: auto;
    top: 0;
    right: 288px;
    z-index: 1;
  }
}

.promo__pic {
  position: relative;
  z-index: 2;
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  display: block;
  text-align: center;
  padding: 11px 44px;

  @media (min-width: $tablet-width) {
    max-width: 244px;

    &--full {
      padding: 16px 26px 16px 18px;
    }
  }
}
