.properties {
  @media (min-width: $tablet-width) {
    &--show-more {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 6px;
    }
  }

  @media (min-width: $desktop-width) {
    &--additional {
      min-width: 291px;
      margin-top: 6px;
    }
  }
}

.properties__wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  @media (min-width: $tablet-width) {
    row-gap: 14px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 16px;
  }
}

.properties__value {
  display: flex;
  justify-content: space-between;
}

.properties__text {
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  text-align: left;

  &--bigger {
    font-size: 14px;
    line-height: 14px;
  }

  &--right {
    text-align: right;
  }

  &--show-more {
    margin-bottom: 21px;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;

    &--show-more {
      text-align: center;
      padding-bottom: 0;
      margin-bottom: 88px;
      max-width: 167px;
    }

    &--left {
      padding-right: 48px;
    }
  }

  @media (min-width: $desktop-width) {
    &--show-more {
      margin-bottom: 89px;
    }

    &--left {
      padding-right: 75px;
    }

    &--left-water {
      padding-right: 142px;
    }

    &--left-milk {
      padding-right: 150px;
    }

    &--fifty {
      margin-right: 10px;
    }
  }
}

.properties__title {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    &--show-more {
      margin-bottom: 23px;
      max-width: 134px;
    }
  }
}
