.section-title {
  font-family: $oswald;
  font-size: 24px;
  line-height: 26px;

  &--column {
    max-width: 187px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &--column {
      max-width: unset;
    }
  }
}
