.section-title {
  font-family: $oswald;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  background-color: $white;
  padding-right: 14px;

  &--column {
    max-width: 197px;
  }

  &--border {
    position: relative;
  }

  &--border::after {
    @include pseudo;
    width: 100vw;
    height: 2px;
    top: 15px;
    right: calc(-100vw - 3px);
    background-color: $green;
  }

  &--border-additional::after {
    @include pseudo;
    width: 100vw;
    height: 2px;
    top: 15px;
    right: calc(-100vw + 32px);
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &--column {
      max-width: unset;
    }

    &--border::after {
      top: 22px;
      right: calc(-100vw - 22px);
    }

    &--border::before {
      @include pseudo;
      width: 100vw;
      height: 2px;
      top: 24px;
      left: calc(-100vw - 40px);
      background-color: $green;
    }

    &--border-additional::after {
      right: calc(-100vw + 297px);
    }

    &--border-additional::before {
      @include pseudo;
      width: 100vw;
      height: 2px;
      top: 24px;
      left: calc(-100vw - 36px);
      background-color: $green;
    }
  }

  @media (min-width: $desktop-width) {
    &--border-form::after {
      right: calc(-100vw - 25px);
      top: 20px;
    }

    &--border-form::before {
      left: calc(-100vw - 40px);
      top: 20px;
    }

    &--border-additional::after {
      right: calc(-100vw + 567px);
    }

    &--border-additional::before {
      left: calc(-100vw + 50px);
    }
  }
}
