.socials {
  @include reset-list();
  border-bottom: 1px solid $border-grey;
  border-top: 1px solid $border-grey;
  padding-top: 19px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 129px;
  }
}

.socials__link {
  display: block;
}

.socials__item {
  &--vk {
    margin-left: 72px;
  }

  &--fb {
    margin-right: 80px;
  }

  @media (min-width: $tablet-width) {
    &--vk {
      margin-left: 13px;
    }

    &--fb {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--insta {
      margin-left: 2px;
    }
  }
}
