.social-icon__path {
  fill: $grey-copyright;

  &:hover,
  &:focus {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    &--vk {
      width: 30px;
      height: 22px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 28px;
      height: 33px;
    }
  }
}
