.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 31px;

  @media (min-width: $tablet-width) {
    column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 30px;
  }
}

.stats__item {
  position: relative;
  text-align: center;
}

.stats__numbers {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;
  border: solid 1px $border-grey;
  border-radius: 4px;
  padding: 14px 0 15px 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 17px 29px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 37px 17px 33px;

    &--days {
      padding: 16px 30px 17px 34px;
    }
  }
}

.stats__text {
  margin: 0;
  padding: 0 45px;
  position: relative;
  top: -10px;
  left: 0;
  background-color: $grey;
  max-width: 60px;
  display: inline-flex;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    padding: 0 6px;
    top: -14px;
    left: -2px;
    font-size: 14px;
    line-height: 14px;
    max-width: 141px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
    padding: 0 6px;
  }
}
