.toggle-text {
  @media (min-width: $tablet-width) {
    border-bottom: 1px dotted $black-opacity;

    &:hover,
    &:focus {
      border-bottom-style: solid;
    }

    &:active {
      border-bottom: none;
    }
  }
}
