@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin pseudo($display: block, $pos: absolute, $content: " ") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin pseudo-decorative($width, $height, $top, $left) {
  width: $width;
  height: $height;
  top: $top;
  left: $left;
}

@mixin coordinates($top, $left) {
  top: $top;
  left: $left;
}
