// Main Colors
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.25);
$black: #000000;
$black-opacity: rgba(0 0 0 0.25);
$soft-black: #111111;
$basic-grey: #f2f2f2;
$darkgrey: #444444;
$grey: #eaeaea;
$border-grey: #cdcdcd;
$soft-border-grey: #e6e6e6;
$promo-border-grey: #d9d9d9;
$form-border-grey: #e7e7e7;
$green: #68b738;
$green-opacity: rgba(104, 183, 56, 0.85);
$darkgreen: #64a73c;
$hovergreen: #5eaa2f;
$red: #ff8282;
$soft-black: #222222;

// Fonts
$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;

// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

// Gutters
$mobile-pads: 20px;
$tablet-pads: 30px;
$desktop-pads: 40px;
